* {
	box-sizing: border-box;
}

body {
	background-color: #15252b;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23546b74' fill-opacity='0.34' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	color: #15252b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Rubik', Helvetica, sans-serif;
	margin: 0;
}

h1 {
	color: #fffafa;
	font-size: 3.5rem;
	margin-bottom: 0;
	text-shadow: 0px 2px 6px rgb(0, 0, 0);
}

#header-container {
	font-size: 1.2rem;
	width: 100%;
	max-width: 560px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	color: #fffafa;
	padding: 15px;
	margin: 15px 0 10px;
	font-size: 16px;
}

.gen-select-container {
	margin: 10px;
	text-align: center;
}

.generation-label {
	color: #fff;
	font-size: 18px;
	margin: 10px;
}

button {
	padding: 12px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	margin: 2px;
	outline: none;
	background-color: #ebe4e4;
}

button:hover {
	background-color: #ffcdcd;
	transform: scale(1.1);
}

.selected {
	background-color: #ac2828;
	color: #fff;
	box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.6);
	padding: 14px;
	font-size: 16px;
	outline: none;
}

.selected:hover {
	background-color: #ac2828;
	transform: scale(1);
}

.container {
	display: flex;
	width: 100%;
	max-width: 560px;
	padding: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	min-width: 320px;
	max-width: 560px;
	background-color: #ebe4e4;
	box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.6);
}

h2 {
	margin-top: 0;
	font-size: 1.2rem;
}

label {
	font-weight: bold;
	margin-bottom: 8px;
}

select {
	cursor: pointer;
	display: block;
	width: 100%;
	padding-left: 0.3em;
	height: 32px;
	margin-bottom: 8px;
	border: 2px solid #3800009c;
	border-radius: 6px;
}

select:focus{
	border: 3px solid #ac2828;
}

.attack-container {
	width: 100%;
	margin-right: 8px;
	margin-bottom: -46px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: -1px 2px 6px #62131388;
}

.defend-container {
	width: 100%;
	margin-left: 8px;
	margin-bottom: -46px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: -1px 2px 6px #62131388;
}

.effectiveness-container {
	width: 100%;
	min-width: 320px;
	max-width: 560px;
	color: #fffafa;
	background-color: #ac2828;
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.6);
	text-align: center;
}

h3 {
	font-size: 1.4rem;
	margin: 30px auto 14px;
}

.multiplier {
	width: 100%;
	font-size: 3rem;
	padding: 10px;
	border-radius: 10px;
	background-color: #620000;
	color: #fffafa;
	margin: 0;
}

footer {
	color: #fffafa;
	align-self: flex-end;
	width: 100%;
	text-align: center;
	margin-top: auto;
	padding: 20px;
	font-size: 0.8rem;
}

a {
	text-decoration: none;
	color: #ffcdcd;
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	h1 {
		margin-top: 20px;
		font-size: 2.5rem;
	}

	.header {
		margin: 0;
	}

	p {
		font-size: 1rem;
		margin-top: 10px;
	}

	.container {
		padding: 0;
		border-radius: 0px;
	}

	h2 {
		font-size: 1.2rem;
	}

	label {
		font-size: 0.8rem;
	}

	.attack-container {
		padding: 22px;
		border-radius: 0px;
		box-shadow: none;
		margin-right: 2px;
		margin-bottom: 0;
	}

	.defend-container {
		padding: 22px;
		border-radius: 0px;
		box-shadow: none;
		margin-left: 2px;
		margin-bottom: 0;
	}

	.effectiveness-container {
		padding: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	h3 {
		font-size: 1.2rem;
		margin-top: 10px;
	}

	.multiplier {
		font-size: 2rem;
	}

	footer {
		font-size: 14px;
		padding: 14px;
	}
}
